<h1>Pages#contact</h1>

<p><%= number_to_phone '2103245334' %></p>

<p><%= number_to_currency '428.53' %></p>

<p><%= number_to_percentage '99' %></p>

<p><%= number_with_delimiter '2103245334' %></p>