<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This is my life in blogs. I am so interesting. Please read everything. I made this all with my bear hands using Rails best practices and knowledge from years of programming things because Rails is so much fun to learn omg this is really fun woohoo.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>